<% include('../includes/header.ejs') %>

<div class="activate">
    <h3 class="title"> Hello ,
        <%= name %>
    </h3>
    <h4>Welcome
        <%= email %>
    </h4>
    <br>
    <br>
    <img src="https://images.unsplash.com/photo-1504672281656-e4981d70414b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
         alt="">
    <div>
        <span>
            Please,activate your account.Visit on this link:
            <a href="https://mail.google.com/mail/u/0/#inbox">Click!</a>
        </span>
    </div>
</div>


<% include('../includes/footer.ejs') %>
