<% include('../includes/header.ejs') %>

<div class="forgot">
    <h3 class="title"> Hello ,
        <%= name %>
    </h3>
    <h4>Welcome
        <a href=`http://localhost:3000/forgotPassword/changePassword?token=<%= token %>`>
            <span class="red">Please here!</span>
        </a>
    </h4>
    <br>
    <br>
</div>


<% include('../includes/footer.ejs') %>
